node {
	size-mode: dyn-size;
	/*size: 50px;*/
	
	fill-mode: dyn-plain;
	         
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
	
	/*z-index: 0;*/
	/*text-visibility-mode:hidden;*/
	text-mode:hidden;
	 
}
node.marked {
	stroke-width: 1px;
}
node.selected {
	text-visibility-mode:normal;
	text-mode:normal;
	text-size:20px;
}
node.giantcomponent {
	stroke-width: 2px;
	stroke-color: purple;
}
node.maxclique {
	stroke-width: 2px;
	stroke-color: red;
}
/*
node.nottexted {
	text-visibility-mode:hidden;	
}*/
node.ego {
	fill-color: #ffddcc, #880000;
   /*size-mode: normal;
   size: 200px;*/
}
/* friends are in green range #ddffac */
node.friend { 
/*	fill-color: #ddffaa, #008800;*/
   /*fill-color: #ddeeaa, #008800;*/
   fill-color: #ddffcc, #008800;   
}
node.friendof {
	fill-color: #3355ff, #000088;
}
node.giantcomponent {
	fill-color: #888888, black;
}

edge {
	shape: line;
	fill-mode: dyn-plain;
	arrow-size: 1px;
	size-mode: dyn-size;
}
/* light red to dark red */
edge.metomyfriend {
/*	fill-color: #ffeebb, #FF0000; */
  fill-color: #ffeebb11, #bb0000ff;
}
/* light yellow to orange */
edge.myfriendtome {
 /*fill-color: #ffee00, #FF2200;*/
 /*fill-color: #ffbbee33, #FFbb00ff;*/
 fill-color: #ffffcc, #FFcc00;
}
edge.myfriendwithmutualfriend {
 /* yellow-green range */
	/*fill-color: #white, #FFFFDD, #FFFF99, #FFFF00, #FFCC00, #FF9900;*/
	/*fill-color: #F7E98E, #DFFF00, #A7FC00, #00FF00;*/
  fill-color: #ddffcc, #66bb66;
}
edge.friendofmyfriendwithmyfriend {
/*   size-mode:normal;
   size: 10px;*/
	fill-color: #aaddff, #000088;
}
