node {
	size-mode: dyn-size;
	/*size: 50px;*/
	
	fill-mode: dyn-plain;
	         
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
	
	/*z-index: 0;*/
	 
}
node.ego {
	fill-color: #ffaadd, #880000;
}
/* friends are in green range #ddffac */
node.friend { 
	fill-color: #ddffaa, #008800;
}
node.friendof {
	fill-color: #ddaaff, #000088;
}
node.giantcomponent {
	fill-color: #888888, black;
}

edge {
	shape: line;
	fill-mode: dyn-plain;
	arrow-size: 1px;
	size-mode: dyn-size;
}
/* light red to dark red */
edge.metomyfriend {
/*	fill-color: #ffeebb, #FF0000; */
	fill-color: #FFaadd, #880000;
}
/* light yellow to orange */
edge.myfriendtome {
 fill-color: #ffee00, #FF2200;
}
edge.myfriendwithmutualfriend {
 /* yellow-green range */
	/*fill-color: #white, #FFFFDD, #FFFF99, #FFFF00, #FFCC00, #FF9900;*/
	/*fill-color: #F7E98E, #DFFF00, #A7FC00, #00FF00;*/
	fill-color: #ddffaa, #008800;
}
edge.friendofmyfriendwithmyfriend {
	fill-color: #f8cbfb, purple;
}
